a{
	text-decoration: none;
}
.center{
	width: 960px;
	margin: 0px auto;
}
.clear{
	clear: both;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

body{
	padding-top: 90px;
}
#header{
	background: red;
	height: 90px;
	line-height: 90px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#header a{
	height: 90px;
	line-height: 90px;
	background: blue;
	display: inline-block;
}
a#logo{
	background: black;
	width: 200px;
	float: left;
}
#logo h1{
	visibility: hidden;
}
#header li{
	display: inline;
}
.box-list .box img{
	display: block;
	max-width: 300px;
}
.box-list .box{
	background: red;
	width: 300px;
}
.box-list .box .link{
	text-align: center;
	margin: 0px;
}
#footer .pull-right li{
	display: inline;
}