$blue: #20C1EE;
$blue_ligth: #4FD8FF;
$white: #FFF;
$gray: #CCC;
$black: #000;
@mixin radius($radius: 4px){
	-webkit-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
a, a:hover, a:focus{
	text-decoration: none;
}
.center{
	width: 940px;
	margin: 0px auto;
}
.clear{
	clear: both;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	font-family: 'Kameron', Georgia, serif;
	&.page-title{
		color: #9CDBF3;
		font-size: 44px;
		margin: 20px 0px 30px 0px;
	}
}
strong, b{
	font-weight: bold;
}
.btn{
	background: $blue;
}
.input-prepend .add-on{
	vertical-align: bottom;
}
p{
	font-family:'Kameron', Georgia, serif;
	line-height: 14px;
	padding: 10px 0px;
	margin: 10px 0px;
}
p.small{
	font-size: 12px;
	color: #666;
	line-height: 12px;
	padding: 12px;
	margin: 12px;
}
p.medio{
	font-size: 14px;
	color: #666;
	line-height: 15px;
	padding: 15px;
	margin: 15px;
}
p.big{
	font-size: 20px;
	color: #666;
	line-height: 20px;
	padding: 20px;
	margin: 20px;
}


body{
	background: $white;
	font-family: 'Kameron', Georgia, serif;
	width: 100%;
}
#header{
	background: $blue;
	height: 80px;
	border-bottom: 1px solid $white;
	line-height: 80px;
}
@media screen and (min-width:940px){
	body{
		padding-top: 81px;
	}
	#header{
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 10;
	}
}
#header a{
	height: 80px;
	line-height: 80px;
	color: $white;
	display: inline-block;
}
a#logo{
	background: url("logo.png") no-repeat center center;
	width: 170px;
	float: left;
}
#logo h1{
	visibility: hidden;
}
#header .menu{
	min-width: 670px;
}
#header .menu > .pull-right{
	background: $blue_ligth;
	a{
		padding: 0px 20px;
		&:hover, &:focus{
			background: $blue;
		}
		&.facebook, &.twitter{
			background: url("ico-header-face.png") no-repeat center center;
			&:hover, &:focus{
				background-color: $blue;
			}
			span{
				visibility: hidden;
			}
		}
		&.facebook{
			width: 10px;
			background-image: url("ico-header-face.png");
		}
		&.twitter{
			width: 10px;
			background-image: url("ico-header-tw.png");
		}
	}
}
#header li{
	display: inline;
}
#header nav ul{
	background: url("ul-bg.png") no-repeat 155px 7px;
}
#header nav a{
	line-height: 22px;
	font-weight: bold;
	text-align: center;
	height: 50px;
	padding: 15px 10px 15px 50px;
}
#header nav a:hover{
	background-color: $blue_ligth;
}
#header nav a span{
	display: block;
	line-height: 16px;
	font-weight: normal;
}
#header-discover, #header-start{
	background-image: url("discover.png");
	background-repeat: no-repeat;
	background-position: 10px 20px;
}
#header-discover{
	
}
#header-start{
	background-position: 8px -49px;
}
.box-list .box img{
	display: block;
	max-width: 300px;
	min-height: 120px;
}
.box-list .box{
	background: #EEE;
	width: 300px;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	.project-title{
		background: $blue_ligth;
		padding: 10px 20px;
		color: $white;
	}
	a{
		color: $black;
	}
	.description{
		padding: 10px 20px;
	}
	.progress{
		margin: 5px 10px 0px 10px;
	}
	.progress-text{
		text-align: center;
		margin-bottom: 5px;
		min-height: 40px;
		span{
			width: 40%;
			text-align: center;
			display: inline-block;
			strong{
				display: block;
			}
		}
	}
}
.box-list .box.centered{
	margin: 0px 20px 10px 20px;
}
.box-list .box .link{
	text-align: center;
	margin: 0px;
}
#footer .pull-right li{
	display: inline;
}
.home-intro{
	background: url("black_bg.png");
	min-height: 400px;
	padding: 50px 0px 10px 0px;
	color: $white;
	h1{
		font-size: 50px;
		margin-bottom: 10px;
	}
	p{
		padding: 2px 0px 5px 0px;
		margin: 2px 0px 5px 0px;
	}
	> .center{
		> .pull-left{
			.btn{
				font-size: 30px;
				padding: 20px 30px;
			}
		}
		> .pull-right{
		
		}
	}
}
#home_steps{
	margin: 0 0 44px -9px;
}
#home_steps ul{
	list-style-type: none;
	margin: 0px;
	li {
		min-height: 140px;
		width: 300px;
		span{
			font-size: 24px;
			font-weight: bold;
			margin-left: 90px;
			&.span1.title{
				font-size: 106px;
				position: relative;
				width: 80px;
				text-align: center;
				margin: 0;
				top: 54px;
				color: $blue_ligth;
			}
			&.span1{
				line-height: 25px;
				width: 200px;
			}
		}
		&.span3, .span3{
			margin: 0;
		}
	}
	hr.vertical{
		background: url("linha-vertical.png") repeat scroll 0 0 transparent;
		height: 75px;
		margin: 0;
		position: absolute;
		top: -25px;
		width: 1px;
		&.left{
			left: 0;
		}
		&.right{
			right: 0;
		}
	}
}
.modal-body{
	padding: 0px;
	margin: 0px auto;
	max-height: none;
	overflow: auto;
	label{
		color: $gray;
		margin-bottom: 8px;
		margin-left: 4px;
	}
}
.sign_box{
	.modal-body{
		width: 460px;
		.add-on{
			margin: 0px;
			padding: 15px 5px;
		}
		input{
			width: 460px;
			padding: 15px 5px;
		}
		.input-prepend input{
			width: 420px;
		}
		// registro
		input{
			&.checkbox{
				width: auto;
			}
			&#user_name, &.password, &.email{
				background: url("icons-forms.png") no-repeat left top;
				width: 400px;
				padding-left: 45px;
				padding-right: 8px;
				margin-left: 2px;
			}
			&#user_name{
				background-position: 3px 9px;
			}
			&.password{
				background-position: 4px -190px;
			}
			&.email{
				background-position: 5px -89px;
			}
		}
	}
}
.provider.login-btn{
	width: 380px;
	font-size: 22px;
	height: 30px;
	line-height: 30px;
	display: block;
	margin: 0px auto;
	padding-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	@include radius(4px);
	color: $white;
	&.facebook{
		background: #496499 url("redes-cta.png") no-repeat 18px 10px;
	}
	&.twitter{
		background: #2BA1CC url("redes-cta.png") no-repeat 15px -62px;
	}
}
.user-info{
	background: #EEE;
	color: #555;
	.pull-left.photo, .pull-left.photo img{
		width: 400px;
//		max-height: 400px;
	}
	.about{
		width: 500px;
		padding: 0px 20px;
		h2{
			font-size: 30px;
			margin: 30px 0px 10px 0px;
		}
		p{
			font-size: 17px;
			color: darken($gray, 30%);
			line-height: 20px;
		}
	}
	&.project{
		.pull-left.photo, .pull-left.photo img{
			width: 620px;
//			max-height: 360px;
		}
		.about{
			width: 280px;
		}
		.big{
			font-size: 50px;
			line-height: 40px;
			font-weight: bold;
		}
		.block{
			display: block;
		}
	}
}
.share-social{
	margin: 10px 0px;
}
.donate-button{
	width: 280px;
	height: 55px;
	background: #87C442;
	color: #333;
	line-height: 20px;
	padding-top: 10px; /* revisar */ 
	margin-bottom: 10px;
	vertical-align: baseline;
	border-radius: 5px;
	text-align: center;
	a{
		color: white;
		text-decoration: none;
		font-size: 20px;
	}
	small{
		color: #497323;
		text-decoration: none;
		font-size: 14px;
		display: block;
	}
}
.donation_form{
	margin: 0px auto;
	width: 310px;
	.btn{
		margin: 0 auto;
		width: 300px;
	}
}
.comments{
	margin-bottom: 20px;
}
#logo-footer{
	display: block;
	height: 34px;
	width: 141px;
	background: url("logo-footer.png") no-repeat center center;
	margin-bottom: 10px;
	span{
		visibility: hidden;
	}
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	padding: 15px 5px;
}
